/* Variables */
:root {
  /* Primary */
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  /* Neutral */
  --dark-grayish-red: hsl(0, 6%, 24%);
  /* Gradients */
  --linear: 135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%);
  --linear-2: 135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%);
}
/* Global Styles */
*,
*::before,
*::after {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  color: var(--desaturated-red);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Body */
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Inputs */
input {
  border: none;
  border: 1px solid var(--desaturated-red);
  border-radius: 20px;
  width: 100%;
  height: 20px;
  padding-left: 10px;
  font-size: 0.5em;
  position: relative;
}
/* Main Wrapper */
.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  min-width: 140px;
  height: 100%;
}
/* Logo Section*/
.logo {
  /* border: 1px solid red; */
  width: 60px;
  margin: 10px;
}
/* Hero Image Section*/
.hero-image {
  max-width: 100%;
}
/* Content Section*/
.content-wrapper {
  text-align: center;
}
.header {
  font-size: 1.3em;
  text-transform: uppercase;
  margin: 10px 30px;
}
.header span {
  color: var(--dark-grayish-red);
  font-weight: 400;
}
.content {
  font-size: 0.6em;
  line-height: 13px;
  margin: 0px 10px;
}
/* Email Input */
.email {
  margin: 0 auto;
  padding: 3px;
}
