/* -------------------------------- Variables */
:root {
  /* Primary */
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  /* Neutral */
  --dark-grayish-red: hsl(0, 6%, 24%);
  /* Gradients */
  --first-linear-gradient: linear-gradient(
    135deg,
    hsl(0, 100%, 90%),
    hsl(0, 100%, 78%)
  );
  --second-linear-gradient: linear-gradient(
    135deg,
    hsl(0, 80%, 86%),
    hsl(0, 74%, 74%)
  );
}
/* -----------------------------  General Styles */
*,
*::before,
*::after {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  color: var(--desaturated-red);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Body */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/* Input */
input[type="email"] {
  border: none;
  border: 1px solid var(--desaturated-red);
  border-radius: 20px;
  width: 100%;
  height: 35px;
  padding-left: 20px;
  padding-right: 110px;
  font-size: 1em;
  position: relative;
  outline: none;
}
input[type="email"]::placeholder {
  color: var(--desaturated-red);
}
/* Button */
button {
  border: none;
  border-radius: 20px;
  background: var(--second-linear-gradient);
  box-shadow: 0 10px 30px var(--desaturated-red);
  position: absolute;
  top: 3px;
  right: 3px;
  height: 35px;
  width: 45px;
}
button:hover {
  cursor: pointer;
  background: var(--first-linear-gradient);
  box-shadow: 0px 10px 30px var(--desaturated-red);
  width: 55px;
  transition: width 0.2s ease;
}

/* Links */
a {
  margin: 0 auto;
}
/* ----------------------------- Specific Styles  */
/* Main Wrapper */
.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 375px;
  min-width: 350px;
  height: 100%;
}
/* Logo Section*/
.logo {
  grid-area: logo;
  width: 100px;
  margin: 20px;
}
/* Hero Image Section*/
.hero {
  grid-area: hero;
}
.hero-image {
  width: 100%;
}
/* Content Section*/
.content-wrapper {
  grid-area: content-wrapper;
  text-align: center;
  margin-top: 20px;
}
.header {
  font-size: 2.5em;
  font-weight: 300;
  text-transform: uppercase;
  margin: 10px 80px;
}
.header span {
  color: var(--dark-grayish-red);
  font-weight: 400;
  font-size: 1em;
  font-weight: 400;
}
.content {
  font-size: 1em;
  line-height: 20px;
  margin: 0px 10px;
}
/* Email Input */
.email {
  grid-area: email;
  position: relative;
  margin: 20px 30px;
  padding: 3px;
}
/* Submit button */
.submit-btn > img {
  width: 20%;
  height: 40%;
}
/* Error Message Bubble */
.error-message {
  font-size: 0.9em;
  color: var(--soft-red);
  margin-top: 5px;
  padding-left: 10px;
  width: 100%;
  height: 15px;
}
/* Exclamation Mark Error Image */
.exclamation-mark {
  width: 27px;
  height: 27px;
  position: absolute;
  top: 7px;
  right: 70px;
}

/* Hide the error input state */
.hidden {
  display: none;
}
/*-------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------*/
/* -------------- Media queries for minimum 1000px wide screens ------------*/
/*-------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------*/
@media (min-width: 1000px) {
  /*  ----------------------- General styles */
  input[type="email"] {
    height: 40px;
    width: 300px;
    box-shadow: unset;
  }
  /* Button */
  button {
    border: none;
    border-radius: 20px;
    background: var(--second-linear-gradient);
    box-shadow: 0 10px 30px var(--desaturated-red);
    position: absolute;
    top: 3px;
    right: 3px;
    height: 40px;
    width: 60px;
  }
  button:hover {
    cursor: pointer;
    background: var(--first-linear-gradient);
    box-shadow: 0 10px 30px var(--desaturated-red);
    width: 75px;
    transition: width 0.2s ease;
  }
  /* Reseting all properties of respective class to unset */
  .wrapper,
  .content-wrapper,
  .hero-image {
    all: unset;
  }
  /* ------------------------- Specific Styles */
  /* Wrapper */
  .wrapper {
    all: unset;
    display: grid;
    grid-template: 1fr 2fr 1fr / 1fr 1fr;
    grid-template-areas:
      "logo hero"
      "content-wrapper hero"
      "email hero";
    column-gap: 80px;
    width: 80%;
    max-width: 950px;
    min-height: 600px;
    max-height: 625px;
  }
  /* Logo Section */
  .logo {
    width: 130px;
    margin: 50px 0 0 0;
  }
  /* Content Section */
  .content-wrapper {
    height: min-content;
  }
  .header {
    font-size: 3.2em;
    letter-spacing: 0.3em;
    margin: 10px 60px 0 0;
  }
  .content {
    margin: 20px 0 0 0;
    line-height: 1.5em;
  }
  /* Email Input */
  .email {
    margin: 10px 50px 0 0;
    width: min-content;
    height: max-content;
  }
  /* Submit button */
  .submit-btn > img {
    width: 20%;
    height: 40%;
  }
  /* Error Message Bubble */
  .error-message {
    font-size: 1em;
    color: var(--soft-red);
    margin-top: 5px;
    padding-left: 10px;
    width: 100%;
    height: 15px;
  }
  /* Exclamation Mark Error Image */
  .exclamation-mark {
    top: 10px;
    right: 81px;
  }
  /* Hero Image */
  .hero {
    position: relative;
    height: 100%;
  }
  .hero-image {
    height: 100%;
    width: 100%;
  }
}
